<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>pokemon</title>
	</head>
	<body>
    <h2><?= htmlspecialchars($pokemon->nom)?></h2>
    <p>Famille : <?= $pokemon->famille ?></p>
    <p>Type : <?= $pokemon->type ?></p>
    <p>PV : <?= $pokemon->pv ?></p>
    <p>PV max : <?= $pokemon->pvmax ?></p>
    <p>Force : <?= $pokemon->force ?></p>
    <p>Defense : <?= $pokemon->defense ?></p>
    <p>Initiative : <?= $pokemon->initiative ?></p>
    <p>Précision : <?= $pokemon->precision ?></p> 
    <p><a href="<?= $this->url('index') ?>">Accueil</a></p>
	</body>
</html>
